In [1]:
from pandas import *
import numpy as np
import sqlalchemy

In [8]:
df=read_csv("insights.csv")
df1=read_csv("insights1.csv")

In [9]:
df

   datacount  datacount_for_customers
0        822                      548

In [10]:
df1

,mssg,total_quantity,total_price,total_order,total_return_quantity,return_rate,average_order_value,average_units_ordered,return_customer_rate,unique_users
0,data processed successfully,2778,599841.0,822,93.0,3.35,729.73,3.38,4.72,784

In [20]:
df_insights=concat([df,df1],axis=1)

In [2]:
user = 'root'
password = 'root'
host = '127.0.0.1'
port = 3306
database = 'shops_insights'

In [3]:
engine=sqlalchemy.create_engine(
     url=f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"
)

In [4]:
dff=read_sql_table("bombayshavinginsights",engine)

In [5]:
dff

,date,datacount_for_customers,datacount,total_quantity,total_price,total_order,total_return_quantity,return_rate,average_order_value,average_units_ordered,return_customer_rate,unique_users
0,2024-01-16,548.0,873.0,2776.0,599841.0,822.0,95.0,3.42,729.73,3.38,4.72,784
1,2024-01-17,1571.0,1626.0,2441.0,622940.0,1569.0,3379.0,138.43,397.03,1.56,132.99,673
2,2024-01-18,887.0,1187.0,4016.0,725918.0,1108.0,130.0,3.24,655.16,3.62,3.65,1068
3,2024-01-19,1037.0,1088.0,3479.0,659533.0,969.0,129.0,3.71,680.63,3.59,5.10,921

In [22]:
df_insights['date']='2024-01-16'

In [25]:
df_insights.drop('mssg',axis=1,inplace=True)

In [26]:
df_insights

,datacount,datacount_for_customers,total_quantity,total_price,total_order,total_return_quantity,return_rate,average_order_value,average_units_ordered,return_customer_rate,unique_users,date
0,822,548,2778,599841.0,822,93.0,3.35,729.73,3.38,4.72,784,2024-01-16

In [30]:
df_insights.to_sql(
    name='bombayshavinginsights',
    con=engine,
    index=False,
    if_exists='append'
)

In [31]:
df_products=read_csv("top_products.csv")

In [33]:
df_products.rename(
columns={
    'node.title':'name',
    'node.quantity':'quantity',
    'node.originalTotal':'total_price'
},
    inplace=True
)

In [34]:
df_products

                                   name  quantity  total_price        date
0              5 in 1 Brightening Cream        24       5880.0  2024-01-16
1             5 in 1 Brightening Cream-         1        199.0  2024-01-16
2    6-in-1 Premium Shaving Kit For Men         2       6250.0  2024-01-16
3         6-in-1 Sensi Luxe Shaving Kit        10      19990.0  2024-01-16
4             Anti Acne Face Wash, 150g        31      10819.0  2024-01-16
..                                  ...       ...          ...         ...
136                Veleno Perfume, 30ml        22      17490.0  2024-01-16
137                        Venice, 30ml       371     554645.0  2024-01-16
138          Vitamin C Face Serum, 30ML        62      36890.0  2024-01-16
139      Wanderlust Perfume Kit For Men         1       1495.0  2024-01-16
140                    razor cartridges         1        285.0  2024-01-16

[141 rows x 4 columns]

In [35]:
df_products.to_sql(
    name='bombayshavingtop_products',
    con=engine,
    index=False,
    if_exists='append'
)

In [36]:
df_ret_products=read_csv("top_return_products.csv")

In [38]:
df_ret_products.rename(
    columns={
        'node.name':'name',
        'diff':'return_quantity'
    },
    inplace=True
)

In [40]:
df_ret_products.drop(columns=['node.currentQuantity','node.quantity'],inplace=True)

In [41]:
df_ret_products

                                           name  return_quantity        date
0                     Anti Acne Face Wash, 150g                1  2024-01-16
1                         Bearberry Body Yogurt                1  2024-01-16
2                             Beard Shaper Tool                1  2024-01-16
3                 Black Vibe Deo For Men, 150ml                1  2024-01-16
4          Charcoal Bath Soap, 100g (Pack of 3)                2  2024-01-16
5          Charcoal Face Sheet Mask (Pack of 2)                2  2024-01-16
6                      Charcoal Face Wash, 100g                3  2024-01-16
7            Charcoal Hair Removal Spray, 200ml                4  2024-01-16
8                   Charcoal Shaving Foam, 425g                2  2024-01-16
9                    Charcoal Shower Gel, 250ml                1  2024-01-16
10                      Coffee Face Scrub, 100g                2  2024-01-16
11                       Coffee Face Wash, 100g                4  2024-01-16
12                  Deep Clean Face & Body Wash                2  2024-01-16
13              Free Gift (Use within 3 months)               31  2024-01-16
14                            Full Body Trimmer                1  2024-01-16
15                 Landscaper 2.0 Groin Trimmer                1  2024-01-16
16                               Mexico, 100 ml                2  2024-01-16
17               Moisturising Face & Body Wash-                1  2024-01-16
18                       Oudh Body Spray, 150ml                2  2024-01-16
19                        Post Shave Balm ,100g                1  2024-01-16
20                   Power Styler Beard Trimmer                7  2024-01-16
21                              Pre-Shave Scrub                1  2024-01-16
22      Precision Safety Razor - Silver Edition                1  2024-01-16
23                 Red Spice Deo For Men, 150ml                2  2024-01-16
24    Sensi Flo6 Razor & Cartridges (Pack of 2)                1  2024-01-16
25  Sensi Smart3 Razor & Cartridges (Pack of 2)                1  2024-01-16
26  Sensi Smart3 Razor & Cartridges (Pack of 4)                1  2024-01-16
27               Shea Butter Moisturizer, 100ml                1  2024-01-16
28                      Spice Body Spray, 150ml                2  2024-01-16
29                                Tokyo, 100 ml                1  2024-01-16
30                                   Travel Kit                1  2024-01-16
31                     Turmeric Face Wash, 100g                1  2024-01-16
32                  Turmeric Shaving Cream, 78g                1  2024-01-16
33                         Veleno Perfume, 30ml                1  2024-01-16
34                                 Venice, 30ml                7  2024-01-16
35               Wanderlust Perfume Kit For Men                1  2024-01-16

In [43]:
df_ret_products.to_sql(
    name='bombayshavingtop_return_products',
    con=engine,
    index=False,
    if_exists='append',
    
)

In [44]:
df_channels=read_csv("top_channels.csv")

In [46]:
df_channels['date']='2024-01-16'

In [47]:
df_channels

    channel_name  sold_quantity        date
0  Not available            808  2024-01-16
1  Applbrew Plus             11  2024-01-16
2   Online Store              3  2024-01-16

In [48]:
df_channels.to_sql(
    name='bombayshavingtop_channels',
    con=engine,
    index=False,
    if_exists='append'
    )

In [ ]:
shop="bombayshaving"

In [29]:
df=read_sql_query(
    f'''
        select 
    sum(datacount_for_customers) as a,
    sum(datacount) as b,
    sum(total_quantity) as c,
    sum(total_price) as d,
    sum(total_order) as e,
    sum(total_return_quantity) as f,
    sum(unique_users) as g,
    sum(returned_users) as h
     from
    bombayshavinginsights
    where date between "2024-01-16" and "2024-01-18"
    ;
    ''',
    engine

)

In [30]:
df

        a       b       c             d       e       f       g      h
0  3006.0  3686.0  9233.0  1.948699e+06  3499.0  3604.0  2525.0  971.0

In [31]:
return_rate=round((df.loc[0].f/df.loc[0].c)*100,2)

In [32]:
average_order_value=round(df.loc[0].d/df.loc[0].e,2)

In [33]:
average_order_value

556.93

In [34]:
average_units_ordered=round(df.loc[0].c/df.loc[0].e,2)
average_units_ordered

2.64

In [35]:
return_customer_rate=round((df.loc[0].h*100)/df.loc[0].g,2)

In [36]:
return_customer_rate

38.46

In [37]:
insights={
       'total_quantity':df.loc[0].c,
        'total_price':df.loc[0].d,
        'total_order':df.loc[0].e,
        'total_return_quantity':df.loc[0].f,
        'return_rate':round((df.loc[0].f/df.loc[0].c)*100,2),
        'average_order_value':round(df.loc[0].d/df.loc[0].e,2),
        'average_units_ordered':round(df.loc[0].c/df.loc[0].e,2),
        'return_customer_rate':round((df.loc[0].h*100)/df.loc[0].g,2),
        'returned_users':df.loc[0].h,
        'unique_users':df.loc[0].g
    
}

In [38]:
insights

{'total_quantity': 9233.0,
 'total_price': 1948699.1875,
 'total_order': 3499.0,
 'total_return_quantity': 3604.0,
 'return_rate': 39.03,
 'average_order_value': 556.93,
 'average_units_ordered': 2.64,
 'return_customer_rate': 38.46,
 'returned_users': 971.0,
 'unique_users': 2525.0}

In [39]:
df=read_sql_query(
    '''
    select name,sum(quantity) as total_quantity,
sum(total_price) as total_price
from bombayshavingtop_products where date between "2024-01-16" and "2024-01-18"
group by name
;
    ''',
    engine
)

In [40]:
df

                                name  total_quantity  total_price
0           5 in 1 Brightening Cream            76.0      18620.0
1      6-in-1 Sensi Luxe Shaving Kit            16.0      31984.0
2          Anti Acne Face Wash, 150g            92.0      32108.0
3       Anti Redness Shave Gel, 100g            20.0       4500.0
4                  Beard Shaper Tool            76.0      22724.0
..                               ...             ...          ...
194            Shaving Essential Kit             1.0        189.0
195         Spice Body Spray, 150ml-             4.0        996.0
196                       Thank You-             1.0         99.0
197  Wanderlust Perfume Kit For Men-             1.0        599.0
198                       With Love-             1.0         99.0

[199 rows x 3 columns]

In [45]:
list(df.sort_values('total_quantity',ascending=False).name[:10])

['6-in-1 Premium Shaving Kit For Men With Silver Razor-S / Festive Green',
 'Free Gift (Use within 3 months)',
 'Venice, 30ml',
 'Charcoal Face Scrub, 45g',
 'Coffee Face Wash, 50g',
 'Charcoal Face Sheet Mask',
 'Oudh Body Spray, 150ml',
 'Black Vibe Deo For Men, 150ml',
 'Charcoal Bath Soap, 100g (Pack of 3)',
 'Vitamin C Face Serum, 30ML']

In [46]:
list(df.sort_values('total_price',ascending=False).name[:10])

['Venice, 30ml',
 'Veleno EDT, 100 ml',
 'Power Styler Beard Trimmer',
 'Vitamin C Face Serum, 30ML',
 'Oudh Body Spray, 150ml',
 'Premium MultiGroomer',
 'Full Body Trimmer',
 'Black Vibe Deo For Men, 150ml',
 'Charcoal Hair Removal Spray, 200ml',
 'Charcoal Bath Soap, 100g (Pack of 3)']

In [50]:


dict_obj={'name': ['twwefwe'], 'category': ['MARKETING'], 'language': ['en'], 'components': ['[{"type":"HEADER","format":"IMAGE","example":{"header_handle":["blob:http://localhost:3000/1707f162-d62f-4601-8a99-7c31bd67e759"]}},{"type":"BODY","text":"wef wefwe we wefw few we we ewf we"},{"type":"BUTTONS","buttons":[{"type":"PHONE_NUMBER","text":"Call Us","phone_number":"+3555645645645"},{"type":"URL","text":"Visit","url":"wefewfwef"}]},{"type":"FOOTER","text":"wef wef wef wef ewf ewf ewf ewf ewfew few f"}]']}

In [51]:
dict_obj

{'name': ['twwefwe'],
 'category': ['MARKETING'],
 'language': ['en'],
 'components': ['[{"type":"HEADER","format":"IMAGE","example":{"header_handle":["blob:http://localhost:3000/1707f162-d62f-4601-8a99-7c31bd67e759"]}},{"type":"BODY","text":"wef wefwe we wefw few we we ewf we"},{"type":"BUTTONS","buttons":[{"type":"PHONE_NUMBER","text":"Call Us","phone_number":"+3555645645645"},{"type":"URL","text":"Visit","url":"wefewfwef"}]},{"type":"FOOTER","text":"wef wef wef wef ewf ewf ewf ewf ewfew few f"}]']}

In [53]:
payload={"name": "ergerger", "category": "MARKETING", "language": "en", "components": "[{\"type\":\"HEADER\",\"format\":\"IMAGE\",\"example\":{\"header_handle\":[\"blob:http://localhost:3000/a10b2e48-77c0-4ae5-978b-21c01899a9c3\"]}},{\"type\":\"BODY\",\"text\":\"eregrerg\"},{\"type\":\"FOOTER\",\"text\":\"ergegr\"}]"}

In [57]:
payload

{'name': 'ergerger',
 'category': 'MARKETING',
 'language': 'en',
 'components': '[{"type":"HEADER","format":"IMAGE","example":{"header_handle":["blob:http://localhost:3000/a10b2e48-77c0-4ae5-978b-21c01899a9c3"]}},{"type":"BODY","text":"eregrerg"},{"type":"FOOTER","text":"ergegr"}]'}

In [59]:
import json

In [69]:
print(json.dumps(dict_obj))

{"name": ["twwefwe"], "category": ["MARKETING"], "language": ["en"], "components": ["[{\"type\":\"HEADER\",\"format\":\"IMAGE\",\"example\":{\"header_handle\":[\"blob:http://localhost:3000/1707f162-d62f-4601-8a99-7c31bd67e759\"]}},{\"type\":\"BODY\",\"text\":\"wef wefwe we wefw few we we ewf we\"},{\"type\":\"BUTTONS\",\"buttons\":[{\"type\":\"PHONE_NUMBER\",\"text\":\"Call Us\",\"phone_number\":\"+3555645645645\"},{\"type\":\"URL\",\"text\":\"Visit\",\"url\":\"wefewfwef\"}]},{\"type\":\"FOOTER\",\"text\":\"wef wef wef wef ewf ewf ewf ewf ewfew few f\"}]"]}

In [72]:
json.loads(dict_obj['components'][0])

[{'type': 'HEADER',
  'format': 'IMAGE',
  'example': {'header_handle': ['blob:http://localhost:3000/1707f162-d62f-4601-8a99-7c31bd67e759']}},
 {'type': 'BODY', 'text': 'wef wefwe we wefw few we we ewf we'},
 {'type': 'BUTTONS',
  'buttons': [{'type': 'PHONE_NUMBER',
    'text': 'Call Us',
    'phone_number': '+3555645645645'},
   {'type': 'URL', 'text': 'Visit', 'url': 'wefewfwef'}]},
 {'type': 'FOOTER', 'text': 'wef wef wef wef ewf ewf ewf ewf ewfew few f'}]

In [ ]:
select name ,sum(return_quantity) as total_return_quantity
from bombayshavingtop_return_products
where date between "2024-01-16" and "2024-01-18" and name not like "FRee%"
group by name
order by total_return_quantity desc;

In [74]:
df=read_sql_query(
    '''
  select name ,sum(return_quantity) as total_return_quantity
from bombayshavingtop_return_products
where date between "2024-01-16" and "2024-01-18" and name not like "FRee%"
group by name
order by total_return_quantity desc;
    ''',
    engine
)

In [80]:
list(df.name[:10])

['6-in-1 Premium Shaving Kit For Men With Silver Razor-S / Festive Green - S / Festive Green',
 'Venice, 30ml',
 'Power Styler Beard Trimmer',
 'Coffee Face Wash, 50g',
 'Charcoal Face Scrub, 45g',
 'Charcoal Hair Removal Spray, 200ml',
 'Charcoal Face Sheet Mask',
 'Travel Kit-',
 'Black Vibe Deo For Men, 150ml',
 'Charcoal Bath Soap, 100g (Pack of 3)']