In [1]:
from pandas import *
import numpy as np
import sqlalchemy

In [8]:
df=read_csv("insights.csv")
df1=read_csv("insights1.csv")

In [9]:
df

   datacount  datacount_for_customers
0        822                      548

In [10]:
df1

,mssg,total_quantity,total_price,total_order,total_return_quantity,return_rate,average_order_value,average_units_ordered,return_customer_rate,unique_users
0,data processed successfully,2778,599841.0,822,93.0,3.35,729.73,3.38,4.72,784

In [20]:
df_insights=concat([df,df1],axis=1)

In [13]:
user = 'root'
password = 'root'
host = '127.0.0.1'
port = 3306
database = 'shops_insights'

In [16]:
engine=sqlalchemy.create_engine(
     url=f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"
)

In [28]:
dff=read_sql_table("bombayshavinginsights",engine)

In [29]:
dff

Empty DataFrame
Columns: [date, datacount_for_customers, datacount, total_quantity, total_price, total_order, total_return_quantity, return_rate, average_order_value, average_units_ordered, return_customer_rate, unique_users]
Index: []

In [22]:
df_insights['date']='2024-01-16'

In [25]:
df_insights.drop('mssg',axis=1,inplace=True)

In [26]:
df_insights

,datacount,datacount_for_customers,total_quantity,total_price,total_order,total_return_quantity,return_rate,average_order_value,average_units_ordered,return_customer_rate,unique_users,date
0,822,548,2778,599841.0,822,93.0,3.35,729.73,3.38,4.72,784,2024-01-16

In [30]:
df_insights.to_sql(
    name='bombayshavinginsights',
    con=engine,
    index=False,
    if_exists='append'
)

In [31]:
df_products=read_csv("top_products.csv")

In [33]:
df_products.rename(
columns={
    'node.title':'name',
    'node.quantity':'quantity',
    'node.originalTotal':'total_price'
},
    inplace=True
)

In [34]:
df_products

                                   name  quantity  total_price        date
0              5 in 1 Brightening Cream        24       5880.0  2024-01-16
1             5 in 1 Brightening Cream-         1        199.0  2024-01-16
2    6-in-1 Premium Shaving Kit For Men         2       6250.0  2024-01-16
3         6-in-1 Sensi Luxe Shaving Kit        10      19990.0  2024-01-16
4             Anti Acne Face Wash, 150g        31      10819.0  2024-01-16
..                                  ...       ...          ...         ...
136                Veleno Perfume, 30ml        22      17490.0  2024-01-16
137                        Venice, 30ml       371     554645.0  2024-01-16
138          Vitamin C Face Serum, 30ML        62      36890.0  2024-01-16
139      Wanderlust Perfume Kit For Men         1       1495.0  2024-01-16
140                    razor cartridges         1        285.0  2024-01-16

[141 rows x 4 columns]

In [35]:
df_products.to_sql(
    name='bombayshavingtop_products',
    con=engine,
    index=False,
    if_exists='append'
)

In [36]:
df_ret_products=read_csv("top_return_products.csv")

In [38]:
df_ret_products.rename(
    columns={
        'node.name':'name',
        'diff':'return_quantity'
    },
    inplace=True
)

In [40]:
df_ret_products.drop(columns=['node.currentQuantity','node.quantity'],inplace=True)

In [41]:
df_ret_products

                                           name  return_quantity        date
0                     Anti Acne Face Wash, 150g                1  2024-01-16
1                         Bearberry Body Yogurt                1  2024-01-16
2                             Beard Shaper Tool                1  2024-01-16
3                 Black Vibe Deo For Men, 150ml                1  2024-01-16
4          Charcoal Bath Soap, 100g (Pack of 3)                2  2024-01-16
5          Charcoal Face Sheet Mask (Pack of 2)                2  2024-01-16
6                      Charcoal Face Wash, 100g                3  2024-01-16
7            Charcoal Hair Removal Spray, 200ml                4  2024-01-16
8                   Charcoal Shaving Foam, 425g                2  2024-01-16
9                    Charcoal Shower Gel, 250ml                1  2024-01-16
10                      Coffee Face Scrub, 100g                2  2024-01-16
11                       Coffee Face Wash, 100g                4  2024-01-16
12                  Deep Clean Face & Body Wash                2  2024-01-16
13              Free Gift (Use within 3 months)               31  2024-01-16
14                            Full Body Trimmer                1  2024-01-16
15                 Landscaper 2.0 Groin Trimmer                1  2024-01-16
16                               Mexico, 100 ml                2  2024-01-16
17               Moisturising Face & Body Wash-                1  2024-01-16
18                       Oudh Body Spray, 150ml                2  2024-01-16
19                        Post Shave Balm ,100g                1  2024-01-16
20                   Power Styler Beard Trimmer                7  2024-01-16
21                              Pre-Shave Scrub                1  2024-01-16
22      Precision Safety Razor - Silver Edition                1  2024-01-16
23                 Red Spice Deo For Men, 150ml                2  2024-01-16
24    Sensi Flo6 Razor & Cartridges (Pack of 2)                1  2024-01-16
25  Sensi Smart3 Razor & Cartridges (Pack of 2)                1  2024-01-16
26  Sensi Smart3 Razor & Cartridges (Pack of 4)                1  2024-01-16
27               Shea Butter Moisturizer, 100ml                1  2024-01-16
28                      Spice Body Spray, 150ml                2  2024-01-16
29                                Tokyo, 100 ml                1  2024-01-16
30                                   Travel Kit                1  2024-01-16
31                     Turmeric Face Wash, 100g                1  2024-01-16
32                  Turmeric Shaving Cream, 78g                1  2024-01-16
33                         Veleno Perfume, 30ml                1  2024-01-16
34                                 Venice, 30ml                7  2024-01-16
35               Wanderlust Perfume Kit For Men                1  2024-01-16

In [43]:
df_ret_products.to_sql(
    name='bombayshavingtop_return_products',
    con=engine,
    index=False,
    if_exists='append',
    
)

In [44]:
df_channels=read_csv("top_channels.csv")

In [46]:
df_channels['date']='2024-01-16'

In [47]:
df_channels

    channel_name  sold_quantity        date
0  Not available            808  2024-01-16
1  Applbrew Plus             11  2024-01-16
2   Online Store              3  2024-01-16

In [48]:
df_channels.to_sql(
    name='bombayshavingtop_channels',
    con=engine,
    index=False,
    if_exists='append'
    )